# Copiar a .env o exportar en el entorno. Los valores son los defaults locales.
SERVER_PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:5173
DB_URL=jdbc:mysql://localhost:3306/ciclo_db?createDatabaseIfNotExist=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=admin123
DDL_AUTO=update
SHOW_SQL=true
